<div class="input-group" [ngClass]="{open: open}" (click)="toggle()">
  <label for="input-box">Статус:</label>
  <input id="input-box" type="text" placeholder="Выбрано: {{ selectedItems.length }}" (keyup)="change($event)" (focus)="change($event)">
  <i class="arrow"></i>
  <i class="cross" *ngIf="selectedItems.length > 0" (click)="remove()"></i>
  <ul>
    <ng-scrollbar thumbClass="thumb">
    <li *ngFor="let item of searchList; let i = index">
      <input id="checkbox-{{i}}" type="checkbox" (change)="select($event)" value="{{ item.value }}" [checked]="item.checked">
      <label for="checkbox-{{i}}">{{ item.value }}</label>
    </li>
    <li *ngIf="searchList.length == 0 && query.length != 0">
      <label>Nothing</label>
    </li>
  </ng-scrollbar>
  </ul>
</div>
<div class="labels">
  <div class="label" *ngFor="let label of getItemsForView(); let i = index">
    <span>{{ label }}</span><i class="cross" (click)="removeItem(i)"></i>
  </div>
  <div class="more" (click)="toggleMore()" *ngIf="selectedItems.length - 10 > 0">
    <span *ngIf="!more">Показать еще {{ selectedItems.length - 10 }}</span>
    <span *ngIf="more">Свернуть</span>
  </div>
</div>
