$mainTextColor: #989898;

* {
  box-sizing: border-box;
}

:host {
  font-family: sans-serif;
  color: $mainTextColor;

  .input-group {
    position: relative;
    float: left;
  }

  label {
    width: 200px;
    display: block;
    float: left;
    margin-top: 7px;
  }

  input[type="text"] {
    border: solid 1px #e2e6ea;
    height: 40px;
    font-size: 16px;
    min-width: 1015px;
    padding: 0;
    border-radius: 2px;
    padding-left: 9px;
    outline: none;
    cursor: pointer;
    margin-bottom: 8px;

    &::placeholder {
      color: $mainTextColor;
    }
  }

  .arrow, .cross {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    font-style: normal;
    cursor: pointer;
  }

  .arrow {
    font-size: 35px;
    color: #989898;
    top: -6px;
    right: 23px;

    &::before {
      content: "⌄";
    }
  }

  .cross {
    font-size: 16px;
    color: #cbcbcb;
    top: 14px;
    right: 43px;

    &::before {
      content: "🞩";
    }
  }

  ng-scrollbar {
    height: 200px;
  }

  ul {
    display: none;
    margin-left: 200px;
    list-style: none;
    float: left;
    position: absolute;
    background: #fff;
    width: 1015px;
    padding: 0;
    margin-top: -10px;
    border: solid 1px #e2e6ea;
    max-height: 200px;
    z-index: 1;
    overflow: hidden;

    li {
      height: 38px;
      width: 100%;
      z-index: 1;

      &:hover {
        background: #f5f5f5;
      }

      input {
        display: none;
      }

      label {
        width: 100%;
        margin: 0;
        height: 38px;
        padding-top: 11px;

        &:first-child {
          margin-left: 20px;
        }
      }

      input + label::before {
        content: "✓";
        width: 14px;
        height: 16px;
        border: solid 1px #e2e6ea;
        color: #fff;
        display: block;
        float: left;
        margin: 0 20px;
        padding-left: 2px;
      }

      input:checked + label::before {
        border: solid 1px #5f8cc9;
        background: #5f8cc9;
      }
    }
  }

  .open {
    .arrow {
      top: 11px;

      &::before {
        content: "⌃";
      }
    }

    ul {
      display: block;
    }
  }

  .labels {
    float: left;
    min-width: 1015px;
    max-width: 1215px;
    padding-left: 200px;
    margin-bottom: 500px;

    .more {
      width: 100%;
      float: left;
      color: #78affd;
      margin-top: 5px;
      cursor: pointer;
    }

    .label {
      float: left;
      padding: 8px 8px 5px 12px;
      background: #e2e6ea;
      border-radius: 3px;
      margin: 0 5px 5px 0;

      .cross {
        position: relative;
        margin-left: 7px;
        display: inline;
        top: unset;
        right: unset;
      }
    }
  }
}

:host ::ng-deep ng-scrollbar {
  .thumb {
    border-radius: 1px;
    background: #cbcbcb;
    top: -2px;
    right: -2px;
  }
}
